<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Froala – Document editor</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" href="/public/stylesheets/froala.css">

    <!-- Include Editor style.-->
    <link rel="stylesheet" type="text/css" href="/scripts/froala-editor/css/froala_editor.pkgd.min.css"  />

    <!-- Include JS files.-->
    <script type="text/javascript" src="/scripts/froala-editor/js/froala_editor.pkgd.min.js"></script>

    <!-- Include Editor Plugins style.-->
    <!--Table Plugins-->
    <link rel="stylesheet" type="text/css" href="/scripts/froala-editor/css/plugins/table.min.css" />

    <!-- Include Editor Plugins.-->
    <!--Table Plugin-->
    <script type="text/javascript" src="/scripts/froala-editor/js/plugins/table.min.js"></script>
    <!--Word Paste Plugin-->
    <script type="text/javascript" src="/scripts/froala-editor/js/plugins/word_paste.min.js"></script>





</head>
<body>
<h1> Froala Editor </h1>

<h2> Edit Mode </h2>
<div id="froala">
    <h3>Markdown support makes WYSIWYG HTML editing awesome.</h3>
    <p>Markdown plugin in Froala editor provides flexible rich text and markdown content creation options for authors, and also provides robust, reliable markdown output for developer projects.</p>
</div>

<h2> Read Only Mode </h2>
<div id="froala2">
    <h3>Markdown support makes WYSIWYG HTML editing awesome.</h3>
    <p>Markdown plugin in Froala editor provides flexible rich text and markdown content creation options for authors, and also provides robust, reliable markdown output for developer projects.</p>
</div>

<button type='button' id="modal_btn">모달창아 나와랏</button>
<div class="black_bg"></div>
<div class="modal_wrap">
    <div class="modal_close"><a href="#">close</a></div>
    <div>
        <div id="froala3"></div>
    </div>
</div>


<div>
    <h2> HTML return check btn</h2>
    <button id="btn">
        버튼
    </button>
</div>

<script>
  // define Icon
  FroalaEditor.DefineIcon('checkboxIcon', { SRC: '/public/images/checkbox.png', ALT: 'Image button', template: 'image'});
  FroalaEditor.RegisterCommand('checkboxButton', {
    title: 'checkbox',
    icon: 'checkboxIcon',
    focus: true,
    undo: true,
    refreshAfterCallback: true,
    callback: function () {
      this.html.insert('<input type="checkbox" >');
      this.undo.saveStep();
    }
  })

  <!-- Initialize the editor. -->
  var editor = new FroalaEditor('#froala', {
    // Set custom buttons.
    toolbarButtons: {
      // Key represents the more button from the toolbar.
      moreText: {
        // List of buttons used in the  group.
        buttons: ['italic', 'bold',  'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', 'textColor', 'backgroundColor', 'inlineClass', 'inlineStyle', 'clearFormatting'],

        // Alignment of the group in the toolbar.
        align: 'left',

        // By default, 3 buttons are shown in the main toolbar. The rest of them are available when using the more button.
        buttonsVisible: 4
      },


      moreParagraph: {
        buttons: ['alignLeft', 'alignCenter', 'formatOLSimple', 'alignRight', 'alignJustify', 'formatOL', 'formatUL', 'paragraphFormat', 'paragraphStyle', 'lineHeight', 'outdent', 'indent', 'quote'],
        align: 'left',
        buttonsVisible: 4
      },

      moreRich: {
        buttons: ['checkboxButton', 'insertLink', 'insertImage', 'insertVideo', 'insertTable', 'emoticons', 'fontAwesome', 'specialCharacters', 'embedly', 'insertFile', 'insertHR'],
        align: 'left',
        buttonsVisible: 3
      },

      moreMisc: {
        buttons: ['undo', 'redo', 'fullscreen', 'print', 'getPDF', 'spellChecker', 'selectAll', 'html', 'help'],
        align: 'right',
        buttonsVisible: 2
      }
    },


    // Options setting
    height: 500,
    heightMax: 500,

    // Word Paste Plugin Options
    wordPasteModal: false,
    wordPasteKeepFormatting: false,


    // Events setting
    events:{


    }
  }, function() {
    // Methods Setting
    editor.html.set('');

  })

  var editor2 = new FroalaEditor('#froala2', {
    // bottom toolbar hide
    toolbarBottom: true,

    // Characters count hide
    charCounterCount: false,

    // height setting
    height: 500,
    heightMax: 500,

  } ,function () {
    // read only mode
    editor2.edit.off();

    // toolbar hide
    editor2.toolbar.hide();
  })

  var editor3 = new FroalaEditor('#froala3', {

    // height setting
    height: 500,
    heightMax: 500,

    placeholderText: '여기에 입력하세요...'

  } ,function () {

  })

  document.getElementById('btn').addEventListener('click', function (){
    console.log(editor.html.get(true))
  })

  document.getElementById('froala').addEventListener('keydown', function (){
    console.log("키보드 입력중")
  })

  window.onload = function() {

    function onClick() {
      document.querySelector('.modal_wrap').style.display ='block';
      document.querySelector('.black_bg').style.display ='block';
    }
    function offClick() {
      document.querySelector('.modal_wrap').style.display ='none';
      document.querySelector('.black_bg').style.display ='none';
    }

    document.getElementById('modal_btn').addEventListener('click', onClick);
    document.querySelector('.modal_close').addEventListener('click', offClick);

  };

</script>
</body>
</html>

